.common__section {
    background: linear-gradient(rgba(13, 87, 98, 0.6), rgba(0, 66, 107, 0.6)),
      url("../assets/images/drive.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
  }